body {
  padding-top: 90px;
}
#carousel {
  margin-top: -20px;
  width: 100%;
  height: 400px;
  background-size: cover;
}
#carousel img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.navbar-brand {
  margin-top: 8px;
}
.navbar-default {
  background-color: #fff;
}
.dropdown-toggle {
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #004990 !important;
  font-weight: bold;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.navbar-toggle {
  margin-top: 17px;
}
.tab-pane {
  border-left: 1px solid #e7e7e7;
  padding-left: 20px;
}
.tab-pane h2 {
  margin-top: 0;
}
.gray {
  color: #777;
}
h2 {
  position: relative;
  text-align: center;
  left: 30%;
  width: 40%;
}
.grid-tv > div {
  position: relative;
  left: 25%;
  width: 50%;
  border-top: 1px solid #e0e0e0;
}
.grid-tv ul {
  margin: 0 auto;
  max-width: 980px;
  padding: 0;
  font-size: 0;
}
.grid-tv ul li {
  font-size: 1em;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  border-right: 1px solid #e0e0e0;
}
.grid-tv ul.grid-two li {
  width: 49%;
}
.grid-tv ul.grid-three li {
  width: 33%;
}
.grid-tv ul li:last-child {
  border-right: 0;
}
.grid-tv img {
  width: 100%;
}
.grid-tv .cont {
  padding: 50px 25px;
  text-align: center;
}
.grid-tv h1 {
  color: #004990;
  font-weight: normal;
  font-size: 30px;
  white-space: nowrap;
  font-family: 'GillSansAltOne', Arial;
  text-align: center;
}
.grid-tv p {
  font-family: arial;
  font-size: 14px;
  color: #004990;
  text-align: center;
}
.pill {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 7px 40px;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  color: #fff;
  margin-top: 25px;
  background: #004990;
  text-decoration: none;
  border: 1px solid #004990;
  font-family: "GillSans-light", Arial;
}
.pill:hover {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  background-color: #0057ab;
  border-color: #0057ab;
}
@media screen and (max-width: 767px) {
  #carousel {
    margin-top: -30px;
  }
}
.carousel-caption {
  background: rgba(60, 60, 60, 0.4);
  border-radius: 10px;
}
.carousel-caption p {
  text-align: center;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#help-banner {
  border-bottom: solid #dcdcdc 1px;
}
#help-banner h3 {
  color: #004990;
}
#help-banner h5 {
  text-align: center;
}
.blue {
  color: #004990;
}
#products-banner {
  margin-bottom: 80px;
}
#products-banner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
footer {
  background-color: #004990;
}
footer p {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: inherit;
}
footer a {
  color: inherit;
}
footer a:hover {
  color: inherit;
}
